#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('TriaLOGO_transparent.png') no-repeat -5px 0;
    background-size: contain;
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 300px;
    background: url('progress-bar-empty-light.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0;
    height: 18px;
    margin-top: 300px;
    background: url('progress-bar-full-light.png') no-repeat center
}

.swipe-hint {
    user-select: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.swipe-hint.hint-show {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
